#*******************************************************************************
#github_actions_CD.yml
#*******************************************************************************

#Purpose:
#GitHub Actions is a continuous integration and continuous delivery (CI/CD)
#platform that allows to automate the build, test, and deployment pipeline. The
#The purpose of this file is to give instructions to GitHub on how to do the
#image deployment to Docker Hub.
#Author:
#Cedric H. David, 2022-2024.


#*******************************************************************************
#Name and specification of triggers
#*******************************************************************************
name: GitHub Actions CD
on:
   push:
      branches:
         - 'main'
      tags:
         - 'v*'
         - '20*'


#*******************************************************************************
#Jobs
#*******************************************************************************
jobs:

   #----------------------------------------------------------------------------
   #Ubuntu
   #----------------------------------------------------------------------------
   ubuntu:
      runs-on: ubuntu-20.04

      steps:

      #- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
      #Display GitHub Action-related information
      #- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
         - name: Display GitHub Action-related information
           run: |
              echo "This job was triggered by a ${{ github.event_name }} event."
              echo "This job is running on a ${{ runner.os }} server at GitHub!"
              echo "The name of the repository is ${{ github.repository }}."
              echo "The full git reference of this event is ${{ github.ref }}."
              echo "The short git reference of this event is ${{ github.ref_name }}."
              echo "The current working directory is $PWD"
              echo "The GitHub workspace is ${{ github.workspace }}"
              echo "The shell used is $SHELL"

      #- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
      #Checkout RAPID code
      #- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
         - name: Checkout RAPID code
           uses: actions/checkout@v4

      #- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
      #Set up QEMU
      #- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
         - name: Set up QEMU
           uses: docker/setup-qemu-action@v3

      #- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
      #Set up Docker Buildx
      #- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
         - name: Set up Docker Buildx
           uses: docker/setup-buildx-action@v3

      #- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
      #Login to Docker Hub
      #- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
         - name: Login to Docker Hub
           uses: docker/login-action@v3
           with:
              username: ${{ secrets.DOCKER_HUB_NAME }}
              password: ${{ secrets.DOCKER_HUB_TOKN }}

      #- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
      #Build and push to Docker Hub
      #- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
         - name: Build and push
           uses: docker/build-push-action@v5
           with:
              push: true
              platforms: linux/amd64,linux/arm64
              tags: |
                 ${{ secrets.DOCKER_HUB_NAME }}/rapid:latest
                 ${{ secrets.DOCKER_HUB_NAME }}/rapid:${{ github.ref_name }}


#*******************************************************************************
#End
#*******************************************************************************
